
<title><% provide(:title, 'about') %></title>
<div class="center jumbotron">
<h1>About</h1>
<h2>
<p> This site was born 6 April, 2022! More content to come!</p>
<p>23 days in and we're almost dont</p>
</h2>
</div>
