<title><% provide(:title, "contact") %></title>
<div class="center jumbotron">
<h1>Contact</h1>
<h2>
<p>Contact microBlog about this app on <a href="https://github.com/cfmorris/rails-microblog/"> github </a> </p>
</h2>
</div>
