<title><% provide(:title, 'help') %></title>
<div class="center jumbotron">
<h1>Help</h1>
<h2>
<p>Need help?  Goodle can help you find comprehensive guides for almost any topic.  Dont forget about dorking filters such as "search term", filetype:pdf, and site:"url" </p>
</h2>
</div>