<title><% provide(:title, "") %></title>

<% if logged_in? %>
<div class="container-fluid">
  <div class="row">
   <div class="col-md-3">
    <%= render 'static_pages/post' %>
  </div>
  <div class="col-md-9">
    <%= render 'shared/feed' %>
  </div>
<% else %>

  <div class="center jumbotron">
    <h1>Welcome to microBlog!</h1>
    <h2> microBlog is product of a new rails programmer doing the <a href="https://www.railstutorial.org">Ruby on Tails Tutorial</a></h2>
    <%= link_to "Sign Up!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>