<title><% provide(:title, 'news') %></title>
<div class="center jumbotron">
<h1>News</h1>
<h2>
<p>
All pages are up!  All links that should work do!
<div>
things coming:
<ol> validation for sign up</ol>
<ol> modelling micropost data and creating the table</ol>
<ol> some sort of user authentication </ol>
<ol> views tailored to individual users </ol>
</div>
</p>
</h2>
</div>