<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="ctr">Log in</h1>
   
    <div id="loginform">
      <%= render "sessions/login_form"%>
    </div>

    <p> New user? <%= link_to "Sign up now!", signup_path %> </p>
  </div>
</div>