
<div class="">
<%= form_with(model:@user, local:true) do |f| %>
  <div class="form-group">
  <% for item in @fields do %>
      <%= (f.label item[1]) %>

      <%= item[0].to_s.include?("password")? (f.text_field item[0], type:"password", class:"form-control") : (f.text_field item[0], class:"form-control") %>
    <% end %>
    <%= f.submit "Submit", class: "btn btn-primary center"%>
  </div>
<% end %>
</div>
