<footer class="footer">
  <small>
    <div class="container-fluid">
    The <a href="https://railstutorial.org">Ruby pn Rails Tutorial </a>
        <div class footer-right>
          <a class="footer-ul" href="#">help</a>
          <a class="footer-ul" href="#">log in</a>
          <a class="footer-ul" href="#">about</a>
        </div>
    </div>
  </small>