<footer class="footer">
  <small>
    <a href="https://github.com/cfmorris/rails-microblog/"> cfmorris</a>
  </small>
  <small class="ctr-blk">
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>